<h1>Create Ticket</h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.message) }}

<button type="submit">Submit Ticket</button>
{{ form_end(form) }}
